<!DOCTYPE html>
<html>
	<head>
		<title><%= title %> <%=subject %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<h1><%= title %></h1>
		<p>Welcome to <%= title %> <%=subject %> 테스트 홈 페이지 입니다.</p>
	</body>
</html>
